.card{
  
  border: none;
  width: 400px;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 100%;
  transform:translate(-50%,50%);
  background:linear-gradient(#7F8C8D,#000000);
 
 

}

.card h1{
  color: white;
}

label{
  color: white;
}


#signup{
  margin-left: 50px;
}

.login-link{

  color: white;
  text-decoration-line:underline;
  
}